$family-head: ArchivoBlack-Regular;
$family-body: NotoSansSC-Regular;

$regular: './fonts/NotoSansSC-Regular.ttf';
$italic: './fonts/DMSans-Italic-VariableFont_opsz,wght.ttf';
$head: './fonts/ArchivoBlack-Regular.ttf';

$list: $regular, $italic, $head;
