.topContainer {
  background-image: url('/contactTopBg.png');
  width: 100vw;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding-inline: 4%;
  padding-top: 120px;
  padding-bottom: 140px;
  margin-top: -1px;

}

.planetCard {
  width: 506px;
  height: 568px;
  border-radius: 16px;
  background-color: white;
  background: url('/aboutPlanetBg.png');
  // background-image: url('/planetCardBg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  overflow: hidden; /* This will ensure the background image respects the border radius */
}

.planetTextCont {
  width: 558px;
  height: 595px;
  position: relative;
  border-radius: 16px;
}

.planetTextCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 508px;
  height: 475px;
  padding: 60px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.12);
  background: var(rgba(255, 255, 255, 0.12));
  // background-image: url('/planetCardBg');
  border-radius: 20px 0px 60px 20px;
  backdrop-filter: blur(10px);
  margin-right: -40px;
  z-index: 1;
}

.textCard {
  position: relative;
  padding: 60px;
  z-index: 2;
  color: white;
}

.middleContainer {
  background-image: url('/contactMidBg.png');
  width: 100vw;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw;
  height: 500px;
  padding-inline: 4%;
  padding-top: 120px;
  padding-bottom: 120px;
  color: white;
  margin-top: -1px;
}

.imgCardContainer {
  width: 188px;
  height: 253px;
  border-radius: 16px;
  position: relative;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  overflow: hidden; /* This will ensure the background image respects the border radius */
}

.twitter {
  position: absolute;
  bottom:15px;
  left: 75px;
}

.botContainer {
  background-image: url('/contactBotBg.png');
  width: 100vw;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding-inline: 4%;
  padding-top: 120px;
  padding-bottom: 20px;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  
}

.card {
  border: 1px solid #3E404E;
  box-shadow: 0px 4px 20px 0px rgba(12, 11, 11, 0.80);
}

.badge {
  display: flex;
  padding: 6px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--Main-Primary, #3E404E);
  background: var(--Main-Primary, #3E404E);
}