.outerContainer {
  display: flex;
  padding: 100px 0px 120px 0px;
  flex-direction: column;
  align-items: center;
  gap: 300px;
  width: 100%;
  background: var(--Main-Primary-Varient, #3e404e);
  margin: auto;
  object-fit: fill;

  @media (max-width: 835px) {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
.outerContainerMobile {
  display: flex;
  padding: 70px 0px 120px 0px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--Main-Primary-Varient, #3e404e);
  // margin: auto;
  // object-fit: fill;

  @media (max-width: 835px) {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  @media (max-width: 380px) {
    padding-right: 2px;
  }
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.cardsContainerMobile {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.card {
  margin-top: 50px;
  border-radius: 16px;
  background: var(--neutral-glass-1-add-blur, #272935);
  display: flex;
  width: calc(100% - 20px); /* Ensure it fits within the padding */
  height: 100%;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  max-width: 522px;
  max-height: 209px;
  // margin: auto;
  padding: 62px;
  @media (max-width: 835px) {
    max-width: 340px;
    width: 100%;
    // width: calc(100% - 20px);
    margin-bottom: -20px;
    // min-width: 350px;
    max-height: 370px;
    // padding: 42px 82px;
    gap: 0px;
  }
}

.cardWord {
  color: var(--Main-Primary-Varient2, #9198b0);
  text-align: center;
}

.illustrationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  gap: 30px;
  @media (max-width: 835px) {
    flex-direction: column;
    margin-top: 120px;
  }
}

.illustrationSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 500px;
  height: 361px;
  border-radius: 20px;
  background: var(--main-primary-varient-250, rgba(145, 152, 176, 0.5));
  @media (max-width: 835px) {
    max-width: 350px;
    width: 400px;
  }
  @media (max-width: 380px) {
    max-width: 340px;
  }
}

ul.customList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.customList li {
  margin-top: 8px;
  line-height: 2.2rem;
  padding-left: 1em; /* Adds indentation */
  text-indent: -1em; /* Ensures text starts after the bullet */
  color: #9198b0;
  position: relative;
}

ul.customList li::before {
  content: '• '; /* Bullet point */
  position: absolute;
  left: 0;
}
