$black: #141414;
$dark-gray: #333333;
$medium-gray: #a1a1a1;
$light-gray: #cccccc;
$pale-gray: #aeaeae;
$bg-gray: #f0f0f0;
$border-gray: #dfe0eb;
$white: #ffffff;

$button-colors: (
  black: $black,
  medium-gray: $medium-gray,
);
