@use 'styles/common/colors';
@use 'styles/components/typography/fonts';
.container {
  background-image: url('/PolicyBg.png');
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  // height: 500px;
  padding-inline: 8%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  margin-top: -1px;
  //   text-align: center;
  display: flex;
  justify-content: center;
  max-width: -webkit-fill-available;
  @media (max-width: 835px) {
    padding-top: 90px;
  }
}

.content {
  display: flex;
  max-width: 1080px;
  height: 100%;
  // padding: 0px 60px;
  //   align-items: center;
  gap: 24px;
  margin: auto;
  //   text-align: center;
}

.myClassEn > h1 {
  font-size: 24px;
  font-family: fonts.$family-head;
  margin-top: 56px;
  margin-bottom: 32px;
  @media (max-width: 835px) {
    font-size: 20px;
  }
}
.myClassEn > p {
  font-size: 18px;
  font-family: fonts.$family-body-dmsans;
  text-align: justify;
  white-space: break-spaces;
  @media (max-width: 835px) {
    font-size: 16px;
  }
}
.myClassEn > li {
  font-size: 18px;
  font-family: fonts.$family-body-dmsans;
  text-align: justify;
  white-space: break-spaces;
  @media (max-width: 835px) {
    font-size: 16px;
  }
}
.myClassEn > h2 {
  font-size: 20px;
  font-family: fonts.$family-head;
  margin-top: 56px;
  margin-bottom: 32px;
  @media (max-width: 835px) {
    font-size: 16px;
  }
}

.myClassCn > h1 {
  font-size: 30px;
  font-family: fonts.$family-body-bold;
  margin-top: 56px;
  margin-bottom: 32px;
}
.myClassCn > p {
  font-size: 18px;
  font-family: fonts.$family-body;
  text-align: justify;
  white-space: break-spaces;
}
.myClassCn > li {
  font-size: 18px;
  font-family: fonts.$family-body;
  text-align: justify;
  white-space: break-spaces;
}
.myClassCn > h2 {
  font-size: 24px;
  font-family: fonts.$family-body-bold;
  margin-top: 56px;
  margin-bottom: 32px;
  @media (max-width: 835px) {
    font-size: 20px;
  }
}
