.container {
  height: 100%;
  background: var(--Main-Primary-Varient, #272935);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

.containerWidth {
display: flex;
  width: 836px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 120px 0;
  justify-content: center;
}