.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  // padding-inline: 4%;
  background: var(--Main-Primary, #3e404e);
  color: #f2f3f7;
  width: 100%;
  justify-content: center;
  position: relative;
  padding: 50px 0px;
  margin-bottom: -5px;
}

.contentFooter {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 56px;
}

.groupFooter {
  width: 1080px;
  align-items: center;
}


