@use 'styles/common/colors'; // Assuming you have color variables defined

.container {
  transition: all 1s ease;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 4%;
  background-color: transparent; // Ensure the background is transparent
  height: 5rem; // Set initial height
  border-bottom: transparent;
  color: white;
}

.transparent {
  background-color: transparent !important; // Ensure the background is transparent
}

.opened {
  @media screen and (max-width: 767px) {
    height: 70vh;
    max-height: 70vh;
  }
}

.hamburger {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav {
  display: flex;
  height: 108px;
  align-items: center;
  gap: 24px;
  color: var(--Main-BG, #f2f3f7);
  text-align: center;

  /* English (Mobile)/Heading 4 */
  font-family: 'Archivo Black';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
