@use 'styles/common/colors'; // Assuming you have color variables defined

.container {
  transition: all 1s ease;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 4%;
  // padding-top: 32px;
  // padding-bottom: 32px;
  background-color: transparent; // Ensure the background is transparent
  height: 114px; // Set initial height
  border-bottom: transparent;
  color: white;
}

.transparent {
  background-color: transparent !important; // Ensure the background is transparent
}

.normalHeader {
  background-color: #3e404e;
}

.opened {
  @media screen and (max-width: 767px) {
    height: 70vh;
    max-height: 70vh;
  }
}

.hamburger {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav {
  display: flex;
  height: 108px;
  align-items: center;
  gap: 24px;
  color: var(--Main-BG, #f2f3f7);
  text-align: center;

  /* English (Mobile)/Heading 4 */
  font-family: 'Archivo Black';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu {
  border-radius: 20px;
  background: var(--neutral-glass-1-add-blur, rgba(255, 255, 255, 0.12));
  border: transparent;

  /* Glassmorphism/BG Blur 1 */
  backdrop-filter: blur(10px);
  display: inline-flex;
  padding: 32px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.nav .link {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav .link.active {
  color: #4178fa;
}

.nav .link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 50%;
  height: 2px;
  background-color: #4178fa;
  margin-left: 10px;
}
