.topContainer {
  background-color: #3e404e;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // padding-inline: 4%;
  padding-top: 120px;
  padding-bottom: 140px;
  margin-top: -1px;
  max-width: -webkit-fill-available;

  background: url('/aboutHero.png');
  // background-image: url('/planetCardBg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 835px) {
    padding-top: 0px;
    padding-bottom: 10px;
    // height: 1300px;
  }
}

.planetImage {
  width: 588px;
  height: 588px;
  border-radius: 12px;
  margin-top: -130px;
  margin-left: -110px;
}

.planetImageMobileContainer {
  // position: absolute;
  // width: 362px;
  // height: 398px;
  // margin-top: 50px;
  // margin-left: 150px;
  // left: 50px;
  overflow: hidden;
}

.planetImageMobile {
  // position: absolute;
  // width: 362px;
  // height: 398px;
  margin-top: 50px;
  margin-left: 80px;
  // left: 50px;
}

.planetTextCont {
  width: 456px;
  height: 517px;
  position: relative;
  border-radius: 16px;

  @media (max-width: 835px) {
    margin-top: -200px;
    width: 350px;
  }
}

.planetTextCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 453px;
  height: 277px;
  padding: 30px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.12);
  background: var(rgba(255, 255, 255, 0.12));
  // background-image: url('/planetCardBg');
  border-radius: 20px 0px 60px 20px;

  backdrop-filter: blur(10px);
  z-index: 1;

  @media (min-width: 350px) and (max-width: 835px) {
    width: 290px;
    height: 413px;
    padding: 30px;
  }
  @media (max-width: 349px) {
    width: 230px;
    height: 413px;
    padding: 30px;
  }
}

.textCard {
  position: relative;
  z-index: 2;
  color: white;
}

.bottomTextOuterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomTextContainer {
  width: 623px;
  display: flex;
  justify-content: center;
  text-align: center;
  @media (max-width: 835px) {
    padding: 0px 23px;
  }
}

.middleContainer {
  background-image: url('/contactMidBg.png');
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding-inline: 4%;
  padding-top: 120px;
  color: white;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  // background-color: #3e404e;
  max-width: -webkit-fill-available;
  @media (max-width: 835px) {
    height: auto;
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

.imgCardContainer {
  width: 155px;
  height: 210px;
  border-radius: 13px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /* This will ensure the background image respects the border radius */
  @media (max-width: 835px) {
    height: 233px;
    width: 300px;
  }
}

.twitter {
  position: absolute;
  bottom: 15px;
  left: 60px;
  @media (max-width: 835px) {
    left: 132px;
  }
}

.imgCardContainer {
  width: 155px;
  height: 210px;
  border-radius: 13px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /* This will ensure the background image respects the border radius */
}

.twitter {
  position: absolute;
  bottom: 15px;
  left: 75px;
}

.botContainer {
  background-image: url('/contactBotBg.png');
  // background-color: #272935;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // padding-inline: 4%;
  padding-top: 0px;
  padding-bottom: 120px;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  max-width: -webkit-fill-available;
  @media (max-width: 835px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
    background-image: url('/contactBotBg1.png');
  }
}
.botContainer2 {
  background-color: #272935;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // padding-inline: 4%;
  padding-top: 0px;
  padding-bottom: 120px;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  max-width: -webkit-fill-available;
  @media (max-width: 835px) {
    // margin-top: -350px;
    margin-top: -50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    background-color: #272935;
  }
}

.card {
  padding: 32px;
  width: 844px;
  border: 1px solid #3e404e;
  box-shadow: 0px 4px 20px 0px rgba(12, 11, 11, 0.8);
}

.cardMobile {
  border: 1px solid #3e404e;
  box-shadow: 0px 4px 20px 0px rgba(12, 11, 11, 0.8);
}

.badge {
  display: flex;
  padding: 6px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--Main-Primary, #3e404e);
  background: var(--Main-Primary, #3e404e);
}

.bordercard {
  &[data-with-border] {
    border: 1px solid #3e404e;
  }
}

.iconContainer {
  display: flex;
  padding: 15.593px;
  align-items: flex-start;
  gap: 7.796px;
  border-radius: 40.541px;
  border: 0.78px solid var(--Main-Secondary, #4178fa);
  background: var(--Main-Primary-Varient, #272935);
}

.icons {
  height: 25px;
  width: 25px;
  color: #50c7ba;
}

.mobileImage {
  height: 293px;
  width: 100%;
  object-fit: cover;
}

.arrowContainerDisabled {
  display: flex;
  padding: 10.99px;
  align-items: flex-start;
  gap: 7.85px;
  border-radius: 54.163px;
  border: 2px solid var(--main-primary-varient-250, rgba(145, 152, 176, 0.5));
}

.arrowContainer {
  cursor: pointer;
  display: flex;
  padding: 10.99px;
  align-items: flex-start;
  gap: 7.85px;
  border-radius: 54.163px;
  border: 2px solid var(--main-primary-varient-250, rgba(145, 152, 176));
}
.arrowContainer:hover {
  // border: 0.785px solid var(--Main-Primary-Varient, #272935);
  border: 2px solid var(--main-primary-varient-250, #272935);
  background: var(--Main-Primary-Varient, #272935);
}

.arrowContainerInactive {
  cursor: pointer;
  display: flex;
  padding: 10.99px;
  align-items: flex-start;
  gap: 7.85px;
  border-radius: 54.163px;
  border: 0.785px solid var(--Main-Primary-Varient, #272935);
  background: var(--Main-Primary-Varient, #272935);
}
