.topContainer {
  background-color: #3e404e;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // padding-inline: 4%;
  padding-top: 120px;
  padding-bottom: 140px;
  margin-top: -1px;
  max-width: -webkit-fill-available;

  @media (max-width: 835px) {
    padding-top: 0px;
    padding-bottom: 10px;
    height: 1300px;
  }
}

.planetCard {
  width: 380px;
  height: 426px;
  border-radius: 12px;
  background-color: white;
  background: url('/aboutPlanetBg.png');
  // background-image: url('/planetCardBg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /* This will ensure the background image respects the border radius */

  @media (max-width: 835px) {
    width: 100vw;
    height: 464px;
  }
}

.planetTextCont {
  width: 456px;
  height: 517px;
  position: relative;
  border-radius: 16px;

  @media (max-width: 835px) {
    margin-top: -160px;
    width: 350px;
  }
}

.planetTextCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 453px;
  height: 457px;
  padding: 30px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.12);
  background: var(rgba(255, 255, 255, 0.12));
  // background-image: url('/planetCardBg');
  border-radius: 20px 0px 60px 20px;
  backdrop-filter: blur(10px);
  z-index: 1;

  @media (min-width: 350px) and (max-width: 835px) {
    // left: -30px;
    width: 250px;
    height: 846px;
    padding: 60px 30px 0px 60px;
  }
  @media (max-width: 349px) {
    // left: -30px;

    width: 230px;
    height: 846px;
    padding: 50px;
  }
}

.textCard {
  position: relative;
  z-index: 2;
  color: white;
}

.middleContainer {
  background-image: url('/contactMidBg.png');
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding-inline: 4%;
  padding-top: 120px;
  color: white;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  max-width: -webkit-fill-available;
  @media (max-width: 835px) {
    height: auto;
  }
}

.imgCardContainer {
  width: 155px;
  height: 210px;
  border-radius: 13px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /* This will ensure the background image respects the border radius */
  @media (max-width: 835px) {
    height: 233px;
    width: 300px;
  }
}

.twitter {
  position: absolute;
  bottom: 15px;
  left: 60px;
  @media (max-width: 835px) {
    left: 132px;
  }
}

.botContainer {
  background-image: url('/contactBotBg.png');
  // background-color: #272935;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // padding-inline: 4%;
  padding-top: 120px;
  padding-bottom: 20px;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  max-width: -webkit-fill-available;
  @media (max-width: 835px) {
    padding-left: 30px;
    padding-right: 30px;
    background-image: url('/contactBotBg1.png');
  }
}

.card {
  border: 1px solid #3e404e;
  box-shadow: 0px 4px 20px 0px rgba(12, 11, 11, 0.8);
}

.badge {
  display: flex;
  padding: 4px 11px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--Main-Primary, #3e404e);
  background: var(--Main-Primary, #3e404e);
}

.bordercard {
  &[data-with-border] {
    border: 1px solid #3e404e;
  }
}
