.imgCardContainer {
  width: 155px;
  height: 210px;
  border-radius: 13px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /* This will ensure the background image respects the border radius */
  @media (max-width: 835px) {
    height: 233px;
    width: 300px;
  }
}

.twitter {
  position: absolute;
  bottom: 15px;
  left: 60px;
  @media (max-width: 835px) {
    left: 132px;
  }
}
