.container {
  // height: 100%;
  background: var(--Main-Primary-Varient, #272935);
  background-image: url('/NFT/NftBg1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  @media (max-width: 835px) {
    background-image: url('/NFT/NftMobileBg1.png');
  }
}

.containerWidth {
  display: flex;
  width: 735px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 120px 0;
  justify-content: center;
  @media (max-width: 835px) {
    width: 82%;
    padding: 112px 32px 80px 32px;
  }
}

// .mobileContainer {
//   background: var(--Main-Primary-Varient, #272935);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 120px;
// }
// .containerMobileWidth {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 24px;
//   padding: 80px 0px 20px 0px;
//   justify-content: center;
// }

.secondContainer {
  // height: 100%;
  background: var(--Main-Primary, #3e404e);
  background-image: url('/NFT/NftBg2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  @media (max-width: 835px) {
    background-image: url('/NFT/NftMobileBg2.png');
  }
}

.secondContainerWidth {
  display: flex;
  width: 1080px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 120px 0;
  justify-content: center;
  @media (max-width: 835px) {
    width: 82%;
    padding: 112px 32px 80px 32px;
  }
}

.imageContainer {
  display: flex;
  padding: 16px;
  height: 150px;
  width: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background: var(--Main-Primary-Varient, #272935);
  box-shadow: 0px 0px 10px 0px rgba(160, 167, 212, 0.2);
}

.imageContainerMobile {
  display: flex;
  padding: 16px;
  height: 150px;
  width: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background: var(--Main-Primary-Varient, #272935);
  box-shadow: 0px 0px 10px 0px rgba(160, 167, 212, 0.2);
}

.imageContainerFull {
  display: flex;
  padding: 16px;
  height: 150px;
  width: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background: var(--Main-Primary-Varient, #272935);
  box-shadow: 0px 0px 10px 0px rgba(160, 167, 212, 0.2);
  animation: fadeIn 1s linear forwards;
  opacity: 0;
  margin-top: -225px;
  margin-bottom: 20px;
  z-index: 10;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.wolfImageIndex1 {
  z-index: 1;
}

.wolfImageIndex2 {
  z-index: 2;
}

.wolfImageIndex3 {
  z-index: 5;
}

.wolfImageIndex4 {
  z-index: 4;
}

.wolfImageIndex5 {
  z-index: 3;
}

.wolfImage1 {
  width: 150px;
  height: 53px;
}

.wolfImage2 {
  width: 100px;
  height: 38px;
}

.wolfImage3 {
  width: 100px;
  height: 38px;
}

.wolfImage4 {
  width: 46px;
  height: 38px;
}

.wolfImage5 {
  width: 113px;
  height: 85px;
}

.wolfImageFull {
  width: 113px;
  height: 113px;
  z-index: 6;
}

.planetImage {
  width: 330px;
  height: 330px;
}

.thirdContainer {
  background: var(--Main-Primary-Varient, #272935);
  background-image: url('/NFT/NftBg3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 835px) {
    gap: 0px;
    background-image: url('/NFT/NftMobileBg3.png');
    margin-top: -2px;
  }
  @media (max-width: 380px) {
    background-image: url('/NFT/NftMobileBg3.png');
    gap: 0px;
  }
}

.fourthContainer {
  background: var(--Main-Primary-Varient, #272935);
  background-image: url('/NFT/NftBg4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 835px) {
    gap: 0px;
    background-image: url('/NFT/NftMobileBg4.png');
    margin-top: -2px;
    padding-top: 50px;
  }
  @media (max-width: 380px) {
    background-image: url('/NFT/NftMobileBg4.png');
    gap: 0px;
  }
}

.thirdWidthContainer {
  display: flex;
  width: 1036px;
  flex-direction: row;
  // align-items: center;
  gap: 24px;
  padding: 50px 30px;
  justify-content: center;
  align-items: center;
  text-align: start;
  @media (max-width: 835px) {
    flex-direction: column;
    text-align: center;
    width: 82%;
    padding: 10px 32px 0px 32px;
  }
}

.firstTextContainer {
  text-align: start;
  margin-bottom: 100px;
  width: 444px;
  margin-left: 10px;
  @media (max-width: 835px) {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    margin-left: 0px;
  }
}

.mobile1 {
  width: 324px;
  height: 693px;
  @media (max-width: 835px) {
    width: 165px;
    height: 355px;
  }
}

.secondPartContainer {
  display: flex;
  gap: 15px;
  // @media (max-width: 380px) {
  //   margin-top: 200px;
  //   margin-bottom: 0px;
  // }
}

// .secondPartTextContainer {
//   @media (max-width: 380px) {
//     height: 800px;
//   }
// }
